<a href="https://colab.research.google.com/github/Joanna0512/Python_Podstawy/blob/main/Podstawy_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##WYRAŻENIA LISTOWE

In [ ]:
old_list = [1,2,3,4,5,6]
new_list = [x**2 for x in old_list if x%2] #nieparzyste

In [ ]:
new_list

[1, 9, 25]

In [ ]:
x=1

In [ ]:
new_list = [x**2 for x in old_list if not x%2] #parzyste

In [ ]:
new_list

[4, 16, 36]

In [ ]:
new_list.count(16) #policz ile razy w liście wystapiło 16

1

In [ ]:
len(new_list) #długość listy

3

## Funkcje LISTY

In [ ]:
lista = [1,3,7,11,2,-6,0]

In [ ]:
min(lista)

-6

# Nowa sekcja

In [ ]:
max(lista)

11

In [ ]:
sum(lista)

18

In [ ]:
liczby = list(range(1,11))

In [ ]:
liczby

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
ocena = [2]*20 #kwadratowy nawias zapewnia niezmienność danej, z okrągłym wychodzi mnożenie

In [ ]:
ocena

[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]

In [ ]:
liczby.append(11)

In [ ]:
liczby

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
liczby +[12]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [ ]:
names = ['a', 'b', 'c']

In [ ]:
names + ['d']

['a', 'b', 'c', 'd']

In [ ]:
for imie in enumerate(names):
    print(imie)

(0, 'a')
(1, 'b')
(2, 'c')

In [ ]:
for i,imie in enumerate(names):
    print(i,imie)

0 a
1 b
2 c

In [ ]:
for count,imie in enumerate(names):
    print(count,imie)

0 a
1 b
2 c

#STRING

In [ ]:
fruit = "apple,banana,pear"
fruit.split(',') #tworzenie listy ze stringa

['apple', 'banana', 'pear']

In [ ]:
fruit = ['apple', 'banana', 'pear']
''.join(fruit)

'applebananapear'

In [ ]:
', '.join(fruit)

'apple, banana, pear'

In [ ]:
for i in fruit:
  print(i)

In [ ]:
fruit.upper()

'APPLE,BANANA,PEAR'

In [ ]:
fruit_2 = [t.upper() for t in fruit]

In [ ]:
type(fruit_2)

list

In [ ]:
fruit_2

['A',
 'P',
 'P',
 'L',
 'E',
 ',',
 'B',
 'A',
 'N',
 'A',
 'N',
 'A',
 ',',
 'P',
 'E',
 'A',
 'R']

In [ ]:
fruit_3 = ''.join(fruit_2)

In [ ]:
fruit_3

'APPLE,BANANA,PEAR'

In [ ]:
fruit_3.split(' ')

['APPLE,BANANA,PEAR']

In [ ]:
txt = 'Joanna'

In [ ]:
txt[::-1]

'annaoJ'

In [ ]:
txt[-2:]+txt[:-2]

'naJoan'

In [ ]:
x = [*set(txt)] #set pokazuje unikalne wartości

In [ ]:
x

['J', 'o', 'n', 'a']

Wypisz znaki z tekstu, które znajdują się na parzystych indeksach

In [ ]:
fruit[::2] #:: oznacza wszystkie, 2 = co drugą

'apebnn,er'

Napisać funckje do usunięcia pierwszych n znaków z tekstu

In [ ]:
tekst2 = "Ala ma kota, kot ma Ale"

In [ ]:
n = int(input("usuń tyle pierwszych liter: "))
tekst2[n:]

usuń tyle pierwszych liter: 5

'a kota, kot ma Ale'

Napisz funkcje, która będzie przepisywać int w odwrotnej kolejności

In [ ]:
tekst2[::-1]

'elA am tok ,atok am alA'

Metoda ISDECIMAL() zwraca True, jeśli wszystkie znaki są liczbami dziesiętnymi (0-9)

In [ ]:
txt.isdecimal()

False

#ZIP

In [ ]:
 a = ['a', 'b', 'c']

In [ ]:
 b = [1,2,3,4]

In [ ]:
c = list(zip(a,b))

In [ ]:
c

[('a', 1), ('b', 2), ('c', 3)]

#SET

In [ ]:
a = set('abrakadabra') #set tworzymy za pomoca nawiasów okrągłych

In [ ]:
a

{'a', 'b', 'd', 'k', 'r'}

In [ ]:
aa = [1,2,3,4]

In [ ]:
bb= [1,2,3]

In [ ]:
cc = aa+bb

In [ ]:
list(set(cc))

[1, 2, 3, 4]

#WYRAŻENIA SET

In [ ]:
name_list = ['ala', 'kasia', 'zenek', 'norbet']

In [ ]:
name_lenght = {len(word) for word in name_list} #podaj długość kazdego słowa z listy

In [ ]:
name_lenght

{3, 5, 6}

DICTIONARY

In [ ]:
old_dict = {'police':997, 'emergency': 999, 'fire': 998}

In [ ]:
new_dict = {v: k for k, v in old_dict.items()}

In [ ]:
new_dict

{997: 'police', 999: 'emergency', 998: 'fire'}

In [ ]:
for k in old_dict:#zawsze drukuje sie klucz
  print(k)

police
emergency
fire

In [ ]:
old_dict.items()

dict_items([('police', 997), ('emergency', 999), ('fire', 998)])

In [ ]:
dictionary  = {'a':2,'b':3,'c':4}

In [ ]:
dictionary['b']

3

In [ ]:
dictionary[(1,2)]=10

OPERACJE NA PLIKACH

In [ ]:
dictionary

{'a': 2, 'b': 3, 'c': 4, (1, 2): 10}

In [ ]:
keys=['a','b','c']
valeus = [2,3,4]

In [ ]:
{key:valeu for key, valeu in zip(keys, valeus)}

{'a': 2, 'b': 3, 'c': 4}

In [ ]:
dict(zip(keys,valeus)) #szybsza metoda

{'a': 2, 'b': 3, 'c': 4}

In [ ]:
f = open('file.txt', mode='w')

In [ ]:
f.write('ala ma psa')

10

In [ ]:
f.close()

In [ ]:
string2 ='hello Joann'

In [ ]:
f2 = open('file2.txt', mode='w')
f2.write(string2)
f2.close()

In [ ]:
string3 ='Hello You too'
f2 = open('file2.txt', mode='a') #a - dopisywanie, jeśli plik nie istnieje to zostanie utworzony, jeśli istnieje to nowa treść zostanie dopisana
f2.writelines(string3)
f2.close()

In [ ]:
string4 ='\nNew Line'
f2 = open('file2.txt', mode='a')
f2.writelines(string4)
f2.close()

In [ ]:
f2 = open('file2.txt', mode='a')
f2.write("\nNice to met you")
f2.close()

In [ ]:
f2 = open('file2.txt', mode='a')
f2.writelines("\nYou too")
f2.close()

In [ ]:
with open('file2.txt', mode='w') as file_2:
  for t in range(100):
    file_2.write(f'{t} C\n') #czyli wydrukuj t(liczby od 0 do 100 i C, \n = nowa linijka)

In [ ]:
file_2 = open('file2.txt', mode='r')

In [ ]:
tekst_z_pliku = file_2.read()

In [ ]:
tekst_z_pliku

'0 C\n1 C\n2 C\n3 C\n4 C\n5 C\n6 C\n7 C\n8 C\n9 C\n10 C\n11 C\n12 C\n13 C\n14 C\n15 C\n16 C\n17 C\n18 C\n19 C\n20 C\n21 C\n22 C\n23 C\n24 C\n25 C\n26 C\n27 C\n28 C\n29 C\n30 C\n31 C\n32 C\n33 C\n34 C\n35 C\n36 C\n37 C\n38 C\n39 C\n40 C\n41 C\n42 C\n43 C\n44 C\n45 C\n46 C\n47 C\n48 C\n49 C\n50 C\n51 C\n52 C\n53 C\n54 C\n55 C\n56 C\n57 C\n58 C\n59 C\n60 C\n61 C\n62 C\n63 C\n64 C\n65 C\n66 C\n67 C\n68 C\n69 C\n70 C\n71 C\n72 C\n73 C\n74 C\n75 C\n76 C\n77 C\n78 C\n79 C\n80 C\n81 C\n82 C\n83 C\n84 C\n85 C\n86 C\n87 C\n88 C\n89 C\n90 C\n91 C\n92 C\n93 C\n94 C\n95 C\n96 C\n97 C\n98 C\n99 C\n'

In [ ]:
tekst_z_pliku.split('\n')

In [ ]:
file_2 = open('file2.txt', mode='r')

In [ ]:
for line in file_2:
  print(line)

In [ ]:
file_2.close()

In [ ]:
p = open('100_pan_tadeusz.txt',mode='r')

while(True):
  line =p.readline()
  if not line:
    break
  print(line)

In [ ]:
with open('p.txt', 'a+') as file:
    print(file.readlines())

[]

#PĘTLE

In [ ]:
y = 10

while y>0:
  y-=1
  print(y)
  if y == 5:
    break
else:
  print('end')

9
8
7
6
5

In [ ]:
kola = 10

for kolo in range(1,11,2): #skacze co drugą liczbę przez 3 wartość w range
    print(kolo)

1
3
5
7
9

ćwiczenie 3: Znajdź najmniejszą liczbę na liście

In [ ]:
lista = [1,3,7,11,2,-6,0]

In [ ]:
najmniejsza = None
for i in lista:
    
    # przy każdej iteracji, sprawdzamy czy zmienna i 
    # jest mniejsza przechowywane przez nas zmienna
    # Jeżeli tak, to ją zapisujemy
    
    if najmniejsza == None or najmniejsza > i: 
        najmniejsza = i
        
print ("najmniejsza liczba to:", najmniejsza)

najmniejsza liczba to: -6

ćwiczenie 4: Przechodząc po kolei od 0 do 10, wypisać sumę danej liczby oraz liczby poprzedniej.

In [ ]:
poprzednia = 0

for i in range(0,11):
  print(i, i + poprzednia)
  poprzednia = i

0 0
1 1
2 3
3 5
4 7
5 9
6 11
7 13
8 15
9 17
10 19

In [ ]:
for i in range(11):
  print(i, i + i-1)

0 -1
1 1
2 3
3 5
4 7
5 9
6 11
7 13
8 15
9 17
10 19

Napisz typy obiektów w dowolnej liście

In [ ]:
listaA = [1,2,3,4,'a', 'Bartek', 2.0, 1]

In [ ]:
for i in listaA:
  print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'int'>

Funkcja do sprawdzenia, czy pierwszy I ostatni element listy są takie same.

In [ ]:
if listaA[0]==listaA[7]:
  print('The same')
else:
  print('not the same')

The same

Wyprintować taki pattern: 1 22 333 4444

In [ ]:
pattern = [1,2,3,4]

In [ ]:
for i in pattern:
  print([i]*i)

[1]
[2, 2]
[3, 3, 3]
[4, 4, 4, 4]

#List comprehantion

Napisać funkcje, która tworzy listę na podstawie 2 list, przy czym że z pierwszej weźmiemy liczby parzyste, a z drugiej nieparzyste. Przykład: a=[1,2,3,6,4] b = [5,3,8,10,7] => wynik [2,6,4,5,3,7]

In [ ]:
a = [1,2,3,6,4]
b = [2,6,4,5,3,7]

[i for i in a if  not i%2] + [i for i in b if i%2]

[2, 6, 4, 5, 3, 7]

Narysować tabliczkę mnożenia od 1 do 10

In [ ]:
liczby = list(range(1,11))

for x in liczby:
  line = []
  for y in liczby:
    line.append(x*y)
  print(line)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
[6, 12, 18, 24, 30, 36, 42, 48, 54, 60]
[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]
[8, 16, 24, 32, 40, 48, 56, 64, 72, 80]
[9, 18, 27, 36, 45, 54, 63, 72, 81, 90]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
liczby

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#Funkcje

Funkcja do puszukiwania najmniejszej z 2 liczb wpisanych z klawiatury

In [ ]:
liczba_1 = int(input('wpisz liczbę: '))
liczba_2 = int(input('wpisz drugą liczbę: '))

wpisz liczbę: 4
wpisz drugą liczbę: 8

In [ ]:
def maximum(liczba_1, liczba_2):
  if liczba_1>liczba_2:
    return(liczba_1)
  else:
    return(liczba_2)

In [ ]:
maximum(4,2)

4

In [ ]:
def dzielenie(liczba1,liczba2):
    return liczba1/liczba2

In [ ]:
dzielenie(10,2)

5.0

In [ ]:
def srednia(liczba1, liczba2):
  sr = (liczba1+liczba2)/2
  print(sr)

In [ ]:
srednia(33,78)

55.5

Napisz program obliczający odchylenie standardowe z listy

In [ ]:
listaX = [44, -9, 13, 77, 111, -43]

In [ ]:
#najpierw liczę średnią
avg = sum(listaX) / len(listaX)

In [ ]:
avg

32.166666666666664

In [ ]:
#następnie liczę wariancję
for i in listaX:
  variance = (i-avg)**2/len(listaX)
  print(variance)

23.337962962962973
282.4490740740741
61.22685185185184
335.0046296296297
1035.7824074074076
941.6712962962961

In [ ]:
variance

941.6712962962961

Wbudowana funkcja ułamkowa

In [ ]:
x = 2.5

In [ ]:
x.as_integer_ratio() #indeks w postaci indeksu 0 oraz 1. 5/2 = 2.5(x)

(5, 2)

Obliczanie czasu wykonywania funkcji

In [ ]:
b = [10,20,30,50]

In [ ]:
%%time
result = []
for x in b:
    kwadrat = x**2
    result.append(kwadrat)

CPU times: user 8 µs, sys: 0 ns, total: 8 µs
Wall time: 14.3 µs

In [16]:
def gretting(time):
    
    def morning_greeting(name):
        return f'Good morning, {name}!'
    
    def afternoon_greeting(name):
        return f'Good afternoon, {name}!'
    
    def night_greeting(name):
        return f'Good night, {name}!'
    
    if time == 'morning':
        return morning_greeting
    
    elif time=='afternoon':
        return afternoon_greeting
    
    elif time=='night':
        return night_greeting
    
    else:
        return lambda name: f'Good any time {name}!'

In [17]:
a=gretting('morning')

In [18]:
a('Kuba')

'Good morning, Kuba!'

In [19]:
type(gretting('morning'))

function

In [20]:
gretting('morning')('Kuba')

'Good morning, Kuba!'

#FUNKCJA CLASS

* Stwórz własną klasę Student, która będzie zawierała atrybuty imię, wiek, ocena
* Stwórz listę grupa która zawiera kilka studentów o dowolnych atrybutach
* Zrób printa atrybutów każdego studenta w grupie (print(student.ocena…))
* Dodaj do studenta metodę, która pozwoli na go printowanie print(student)
* Dodaj metodę study, która zwiększa jego ocenę o podany parametr (ale robi ją nie większą nić 100)
* Dodaj metodę laziness która zmniejsza mu ocenę o parametr, ale ocean ni ma być mniejsza od 0

In [ ]:
class Student:

  def __init__(self, name, mark):
    self.name = name
    self.mark = mark

  def str(self):
    return (f'Mam na imię {self.name}, moja ocena to: {self.mark}')

  def study(self, new_number):
    print(self.mark)
    self.new_number = self.mark + new_number
    if self.new_number >100:
      print(100)
    else:
      print(self.new_number)

  def lazy(self, minus):
    print(self.mark)
    self.minus = self.mark - minus
    if self.minus <0:
      print(0)
    else:
      print(self.minus)

In [ ]:
st1=Student("Ola", 34)

In [ ]:
st1.study(86)

34
100

In [ ]:
st1.lazy(44)

34
0

In [ ]:
st1.study(5)

5
10

In [ ]:
st1

In [ ]:
print(st1)

Mam na imię Ania, moja ocena to: 5

In [ ]:
st1.__str__()

'Mam na imię Ania, moja ocena to: 5'

In [ ]:
st2 = Student('Bartosz', 6)

In [ ]:
st3 = Student('Joanna', 5)

In [ ]:
print(st2.mark)

6

Do każdej klasy możemy przypisać z góry narzucone dane (raise_amount). Te dane zawsze można zmienić. Każdy parametr w init możemy doprecyzować co do rodzaju(str, float, itd).

In [1]:
class Employee:
    raise_amount = 1.04
    
    def __init__(self,first_name:str, last_name:str, salary:int):
        """
        Klasa employee, która odpowiada za pracownike
        Argumenty:
        
        first_name - str
        last_name - str
        salary - int
        """
        self.first_name = first_name
        self.last_name = last_name
        self.salary = salary
        self.email = f'{first_name}_{last_name}@company.com'
    
    def fullname(self):
        return f'{self.first_name} {self.last_name}'
    
    def apply_rise(self):
        print(f'Stara płaca wynosiła: {self.salary}')
        self.salary = int(self.salary*self.raise_amount)
        print(f'Nowa płaca wynosi: {self.salary}')

Tworzenie listy do klasy (nawias [], za każdym razem zacząć od nazwy klasy)

In [2]:
pracownicy = [Employee('Jan','Kowalski',7000),Employee('Agata','Kowalska',9000)
             ,Employee('Monika','Nowak',6000)]

In [ ]:
for pracownik in pracownicy:
    print(pracownik.fullname())

Jan Kowalski
Agata Kowalska
Monika Nowak

Zmiana narzuconej danej

In [ ]:
for pracownik in pracownicy:
    pracownik.raise_amount=1.06

Dodawanie pracownika do listy

In [ ]:
pracownicy.append(Employee('Kuba','Zajc',3000))

Tworzenie classy z classy

In [3]:
class Develper(Employee):
    raise_amount = 1.10
    
    def __init__(self,first_name:str, last_name:str, salary:int,programing_language:str): #tu dodaję nowy atrybut
        super().__init__(first_name,last_name,salary) #w tym miejscu powtarzamy atyrybuty poprzedniej klasy do której sie odwołujemy
        
        self.programing_language = programing_language
    def code(self):
        return 'Koduję'

In [4]:
dev = Develper('Kuba','Nowak',10000,'Python')
emp = Employee('Jan','Kowalski',6000)

In [5]:
dev.code()

'Koduję'

In [6]:
dev.programing_language

'Python'

#LAMBDA
lambda to słowo kluczowe, którego należy użyć do zdefiniowania funkcji lambda, po której następuje jeden lub więcej parametrów, które funkcja powinna przyjąć.
Parametry i zwracaną wartość oddziela dwukropek.<br>
Alternatywna dla funkcji, szybsza wersja

In [7]:
def square(num):
    return num*num

In [8]:
square(4)

16

In [9]:
(lambda num: num*num)(4)

16

In [10]:
def add(num1,num2):
    return num1 + num2

In [11]:
add(6,4)

10

(lambda x: x+x)(6,4)

In [15]:
(lambda x, y: x+y)(6,4)

10

#DEKORATORY

In [21]:
def główna():
    
    def wewnętrzna(a,b):
        return a*b
    
    x = wewnętrzna(2,3)
    return x
główna()

6

In [22]:
def funk():
    
    def funkWew(a,b):
        return a * b
    
    return funkWew
x = funk()
x(3,3)

9

In [23]:
def zwykłaFunkcja():
    print ("To jest zwykła funkcja")
def dekor(funkcja):
    
    def wew():
        print("Dekorujemy funkcję")
        return funkcja()
        
    return wew
nowaFunkcja = dekor(zwykłaFunkcja)
nowaFunkcja()

Dekorujemy funkcję
To jest zwykła funkcja

In [24]:
def dekor(funkcja):
    
    def wew():
        print("Dekorujemy funkcję")
        return funkcja()
        
    return wew
@dekor
def zwykłaFunkcja():
    print ("To jest zwykła funkcja")
nowaFunkcja()

Dekorujemy funkcję
To jest zwykła funkcja

In [25]:
import time
def dekor(funkcja):
    
    def wew(*args, **kwargs):
        start = time.time()
        x = funkcja(*args, **kwargs)
        koniec = time.time()
        print(funkcja.__name__, "wykonywała się", koniec - start, "sekund.")
        return x
    return wew
@dekor
def dodaj(a,b):
    time.sleep(1)
    return a+b
@dekor
def odejmij(a,b,c):
    time.sleep(0.5)
    return a-b-c
print(dodaj(2,2))
print(odejmij(1,2,3))

dodaj wykonywała się 1.0011074542999268 sekund.
4
odejmij wykonywała się 0.5005719661712646 sekund.
-4