<a href="https://colab.research.google.com/github/Joanna0512/Python_Podstawy/blob/main/Podstawy_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##WYRAŻENIA LISTOWE

In [ ]:
old_list = [1,2,3,4,5,6]
new_list = [x**2 for x in old_list if x%2] #nieparzyste

In [ ]:
new_list

[1, 9, 25]

In [ ]:
x=1

In [ ]:
new_list = [x**2 for x in old_list if not x%2] #parzyste

In [ ]:
new_list

[4, 16, 36]

## Funkcje LISTY

In [ ]:
lista = [1,3,7,11,2,-6,0]

In [ ]:
min(lista)

-6

In [ ]:
max(lista)

11

In [ ]:
sum(lista)

18

In [25]:
liczby = list(range(1,11))

In [26]:
liczby

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#STRING

In [29]:
fruit = "apple,banana,pear"
fruit.split(',') #tworzenie listy ze stringa

['apple', 'banana', 'pear']

In [ ]:
fruit = ['apple', 'banana', 'pear']
''.join(fruit)

'applebananapear'

In [ ]:
', '.join(fruit)

'apple, banana, pear'

In [ ]:
txt = 'Joanna'

In [ ]:
txt[::-1]

'annaoJ'

In [ ]:
txt[-2:]+txt[:-2]

'naJoan'

In [ ]:
x = [*set(txt)] #set pokazuje unikalne wartości

In [ ]:
x

['J', 'o', 'n', 'a']

Wypisz znaki z tekstu, które znajdują się na parzystych indeksach

In [30]:
fruit[::2] #:: oznacza wszystkie, 2 = co drugą

'apebnn,er'

Napisać funckje do usunięcia pierwszych n znaków z tekstu

In [31]:
tekst2 = "Ala ma kota, kot ma Ale"

In [34]:
n = int(input("usuń tyle pierwszych liter: "))
tekst2[n:]

usuń tyle pierwszych liter: 5

'a kota, kot ma Ale'

Napisz funkcje, która będzie przepisywać int w odwrotnej kolejności

In [37]:
tekst2[::-1]

'elA am tok ,atok am alA'

#ZIP

In [ ]:
 a = ['a', 'b', 'c']

In [ ]:
 b = [1,2,3,4]

In [ ]:
c = list(zip(a,b))

In [ ]:
c

[('a', 1), ('b', 2), ('c', 3)]

#SET

In [ ]:
a = set('abrakadabra') #set tworzymy za pomoca nawiasów okrągłych

In [ ]:
a

{'a', 'b', 'd', 'k', 'r'}

In [ ]:
aa = [1,2,3,4]

In [ ]:
bb= [1,2,3]

In [ ]:
cc = aa+bb

In [ ]:
list(set(cc))

[1, 2, 3, 4]

#WYRAŻENIA SET

In [ ]:
name_list = ['ala', 'kasia', 'zenek', 'norbet']

In [ ]:
name_lenght = {len(word) for word in name_list} #podaj długość kazdego słowa z listy

In [ ]:
name_lenght

{3, 5, 6}

WYRAŻENIA DICT

In [ ]:
old_dict = {'police':997, 'emergency': 999, 'fire': 998}

In [ ]:
new_dict = {v: k for k, v in old_dict.items()}

In [ ]:
new_dict

{997: 'police', 999: 'emergency', 998: 'fire'}

In [ ]:
for k in old_dict:#zawsze drukuje sie klucz
  print(k)

police
emergency
fire

In [ ]:
old_dict.items()

dict_items([('police', 997), ('emergency', 999), ('fire', 998)])

OPERACJE NA PLIKACH

In [ ]:
f = open('file.txt', mode='w')

In [ ]:
f.write('ala ma psa')

10

In [ ]:
f.close()

In [ ]:
string2 ='hello Joann'

In [ ]:
f2 = open('file2.txt', mode='w')
f2.write(string2)
f2.close()

In [ ]:
string3 ='Hello You too'
f2 = open('file2.txt', mode='a') #a - dopisywanie, jeśli plik nie istnieje to zostanie utworzony, jeśli istnieje to nowa treść zostanie dopisana
f2.writelines(string3)
f2.close()

In [ ]:
string4 ='\nNew Line'
f2 = open('file2.txt', mode='a')
f2.writelines(string4)
f2.close()

In [ ]:
f2 = open('file2.txt', mode='a')
f2.write("\nNice to met you")
f2.close()

In [ ]:
f2 = open('file2.txt', mode='a')
f2.writelines("\nYou too")
f2.close()

In [ ]:
with open('file2.txt', mode='w') as file_2:
  for t in range(100):
    file_2.write(f'{t} C\n') #czyli wydrukuj t(liczby od 0 do 100 i C, \n = nowa linijka)

In [ ]:
file_2 = open('file2.txt', mode='r')

In [ ]:
tekst_z_pliku = file_2.read()

In [ ]:
tekst_z_pliku

'0 C\n1 C\n2 C\n3 C\n4 C\n5 C\n6 C\n7 C\n8 C\n9 C\n10 C\n11 C\n12 C\n13 C\n14 C\n15 C\n16 C\n17 C\n18 C\n19 C\n20 C\n21 C\n22 C\n23 C\n24 C\n25 C\n26 C\n27 C\n28 C\n29 C\n30 C\n31 C\n32 C\n33 C\n34 C\n35 C\n36 C\n37 C\n38 C\n39 C\n40 C\n41 C\n42 C\n43 C\n44 C\n45 C\n46 C\n47 C\n48 C\n49 C\n50 C\n51 C\n52 C\n53 C\n54 C\n55 C\n56 C\n57 C\n58 C\n59 C\n60 C\n61 C\n62 C\n63 C\n64 C\n65 C\n66 C\n67 C\n68 C\n69 C\n70 C\n71 C\n72 C\n73 C\n74 C\n75 C\n76 C\n77 C\n78 C\n79 C\n80 C\n81 C\n82 C\n83 C\n84 C\n85 C\n86 C\n87 C\n88 C\n89 C\n90 C\n91 C\n92 C\n93 C\n94 C\n95 C\n96 C\n97 C\n98 C\n99 C\n'

In [ ]:
tekst_z_pliku.split('\n')

In [ ]:
file_2 = open('file2.txt', mode='r')

In [ ]:
for line in file_2:
  print(line)

In [ ]:
file_2.close()

In [ ]:
p = open('100_pan_tadeusz.txt',mode='r')

while(True):
  line =p.readline()
  if not line:
    break
  print(line)

In [ ]:
with open('p.txt', 'a+') as file:
    print(file.readlines())

[]

#PĘTLE

In [ ]:
y = 10

while y>0:
  y-=1
  print(y)
  if y == 5:
    break
else:
  print('end')

9
8
7
6
5

In [ ]:
kola = 10

for kolo in range(1,11,2): #skacze co drugą liczbę przez 3 wartość w range
    print(kolo)

1
3
5
7
9

ćwiczenie 3: Znajdź najmniejszą liczbę na liście

In [ ]:
lista = [1,3,7,11,2,-6,0]

In [ ]:
najmniejsza = None
for i in lista:
    
    # przy każdej iteracji, sprawdzamy czy zmienna i 
    # jest mniejsza przechowywane przez nas zmienna
    # Jeżeli tak, to ją zapisujemy
    
    if najmniejsza == None or najmniejsza > i: 
        najmniejsza = i
        
print ("najmniejsza liczba to:", najmniejsza)

najmniejsza liczba to: -6

ćwiczenie 4: Przechodząc po kolei od 0 do 10, wypisać sumę danej liczby oraz liczby poprzedniej.

In [ ]:
poprzednia = 0

for i in range(0,11):
  print(i, i + poprzednia)
  poprzednia = i

0 0
1 1
2 3
3 5
4 7
5 9
6 11
7 13
8 15
9 17
10 19

In [19]:
for i in range(11):
  print(i, i + i-1)

0 -1
1 1
2 3
3 5
4 7
5 9
6 11
7 13
8 15
9 17
10 19

Napisz typy obiektów w dowolnej liście

In [ ]:
listaA = [1,2,3,4,'a', 'Bartek', 2.0, 1]

In [ ]:
for i in listaA:
  print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'int'>

Funkcja do sprawdzenia, czy pierwszy I ostatni element listy są takie same.

In [ ]:
if listaA[0]==listaA[7]:
  print('The same')
else:
  print('not the same')

The same

Wyprintować taki pattern: 1 22 333 4444

In [ ]:
pattern = [1,2,3,4]

In [ ]:
for i in pattern:
  print([i]*i)

[1]
[2, 2]
[3, 3, 3]
[4, 4, 4, 4]

#List comprehantion

Napisać funkcje, która tworzy listę na podstawie 2 list, przy czym że z pierwszej weźmiemy liczby parzyste, a z drugiej nieparzyste. Przykład: a=[1,2,3,6,4] b = [5,3,8,10,7] => wynik [2,6,4,5,3,7]

In [ ]:
a = [1,2,3,6,4]
b = [2,6,4,5,3,7]

[i for i in a if  not i%2] + [i for i in b if i%2]

[2, 6, 4, 5, 3, 7]

Narysować tabliczkę mnożenia od 1 do 10

In [28]:
liczby = list(range(1,11))

for x in liczby:
  line = []
  for y in liczby:
    line.append(x*y)
  print(line)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
[6, 12, 18, 24, 30, 36, 42, 48, 54, 60]
[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]
[8, 16, 24, 32, 40, 48, 56, 64, 72, 80]
[9, 18, 27, 36, 45, 54, 63, 72, 81, 90]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [24]:
liczby

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#Funkcje

Funkcja do puszukiwania najmniejszej z 2 liczb wpisanych z klawiatury

In [9]:
liczba_1 = int(input('wpisz liczbę: '))
liczba_2 = int(input('wpisz drugą liczbę: '))

wpisz liczbę: 4
wpisz drugą liczbę: 8

In [12]:
def maximum(liczba_1, liczba_2):
  if liczba_1>liczba_2:
    return(liczba_1)
  else:
    return(liczba_2)

In [13]:
maximum(4,2)

4

In [14]:
def dzielenie(liczba1,liczba2):
    return liczba1/liczba2

In [15]:
dzielenie(10,2)

5.0

In [16]:
def srednia(liczba1, liczba2):
  sr = (liczba1+liczba2)/2
  print(sr)

In [17]:
srednia(33,78)

55.5

Napisz program obliczający odchylenie standardowe z listy

In [38]:
listaX = [44, -9, 13, 77, 111, -43]

In [41]:
#najpierw liczę średnią
avg = sum(listaX) / len(listaX)

In [42]:
avg

32.166666666666664

In [46]:
#następnie liczę wariancję
for i in listaX:
  variance = (i-avg)**2/len(listaX)
  print(variance)

23.337962962962973
282.4490740740741
61.22685185185184
335.0046296296297
1035.7824074074076
941.6712962962961

In [47]:
variance

941.6712962962961